@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: $header-padding-v 4px 0;
  display: flex;
  justify-content: space-between;
  .excel__title-input {
    margin: 0;
    padding: 2px 7px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:hover {
      border: 1px solid $border-color-default;
    }
    &:focus {
      border: 2px solid #1a73e8;
    }
  }
  .excel__header-buttons {
    .excel__button-delete {
      @include button(red)
    }
    .excel__button-exit {
      @include button(#b19c9c)
    }
  }
}