@import "variables";
@import "mixins";

.excel__toolbar {
  left: 0;
  width: 100%;
  top: $header-height + $header-padding-v;
  height: $toolbar-height;
  border-top: 1px solid $border-color-default;
  border-bottom: 1px solid $border-color-default;
  position: absolute;
  padding: 7px 10px;
  display: flex;
  align-items: center;

  .excel__button {
    @include button()
  }
}